.div{
    background-color: #004d99;
    border-radius: 20px;
    padding:15px 16px;
    margin: 15px;
}
.heading{
  margin:100px;
}
.hide,
.show{
  color: aliceblue;
  text-decoration: none;
  font-size: 1.5em;
}
.details{
  background:aliceblue;
  border-radius: 20px;
  font-size: 1.2em;
  color:#004d99;
  margin:10px;
}
.details,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .details {
  display: block;
}